// Place all the styles related to the gallery controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.boxes {
  padding: 2em;
}
.box {
  padding: 2em;
  border: 1px solid gray;
}
